<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 align="center">Курсы, ебать!</h1>
    <br>
    <%= form_with(model: @rate, local: true) do |f| %>
      <%= f.label "Дата" %>
      <%= f.date_field :date, :value => Date.yesterday %>
      Считаем за вчера, потому что курсы Mastercard на текущий день сразу не доступны
      <br><br>
      <%= f.label "Сумма" %>
      <%= f.text_field :sum %>
      <br>
      <%= f.label "Валюта" %>
      <%= f.text_field :curr %>
      <a href="https://vk.cc/arBfzy" target="_blank"> 3-х буквенный код по ОКВ</a>
      <br><br>
      <%= f.submit "Посчитать!" %>
    <% end %>
  </div>
</div>