<br>
<% flash.each do |key, message| %>
  <p class="<%= key %>"><%= message %></p>
<% end %>

<div class="col-md-6 col-md-offset-3">
По курсу на <%= @rate.date %>, <br>
<%= @rate.sum %> <%= @rate.curr %>
<br><br><br>
Будет стоить <%= @rate.mcamount %> по курсу <%= @rate.mcrate %>
</div>